.CovidCases{
 &__case{
    padding:var(--padding-md);
    border-radius: var(--border-radius);
    background:rgba(#fff,0.11);
    margin:0.5rem -0.2rem;

 }

 &__heading{
     display:flex;
     justify-content:space-between;
     padding:var(--padding-sm);

 }

 &__item{
    display:flex;
    justify-content:space-between;
    padding-top:var(--padding-md);
    padding-bottom:var(--padding-md);
    @include border-bottom;
    align-items: center;

    p{
        flex:0.33;
    }

    &__data-point{
        text-align:right;
    }
    &__uptick{
      text-align:right;
    }

    &:last-of-type{
        border:none;
    }

}

 &__listing{

 }
}