.currentConditions{
    display:flex;
    // background:rgba(0,0,0,0.05);
    flex-direction: column;
    align-items: center;
    position:relative;
    min-height:56vh;
        

    &__forecast{
        text-align: center;
    display: flex;
    flex-direction: column;
    padding-top:48px;
    }

    &__top{
        display:flex;
        align-items: center;
        text-align: center;
        width:100%;
        justify-content: space-between;
        justify-self: flex-start;
        transform:translateY(-8px);
    }

    &__city{
        z-index: var(--main-z-index);

    }

    &__icon{
        z-index: var(--main-z-index);
        font-size: 100px;
        margin:2rem auto 0;
        

    }

    &__temp{
      font-size:100px;
      z-index: var(--main-z-index);
      line-height:1;
    }

    &__main{
        @extend .h5;
        z-index: var(--main-z-index);
        margin:0;

    }

    &__overall{
        display:flex;
        justify-content:space-between;
        z-index: var(--main-z-index);

        h4{
            margin:1rem;
        }

        .wi{
            margin-right:0.5rem;

            &-humidity{
                color:var(--brand-blue);
            }
        }

    }

}