.LocationSearch{
    background:rgba(grey,0.9);
    backdrop-filter:var(--blur);
    width:98vw;
    height:93vh;
    position:fixed;
    bottom:0;
    z-index:30;
    border-radius: calc(2 * var(--border-radius));
    overflow:hidden;
    transform:translateX(1vw);

    // results
    &__results{
        padding-top:calc(2 * var(--spacing-unit));
        &__list{
            display:block;

            padding:var(--padding-sm);
            padding-left:var(--padding-md);
            cursor:pointer;

            &:hover{
                opacity:0.9;
            }

            p{
                pointer-events: none;
            }
        }
    }

    &__header{
        background:rgba(#000,0.5);
        padding:var(--padding-md);
        border-bottom:1px solid var(--brand-black);
    }

    &__form{
        
        label{
            text-align:center;
            display:block;
            margin-bottom: calc(2 * var(--spacing-unit));
        }

        input[type="text"]{
            color:var(--app-white);
            background:none;
            appearance:none;
            border:none;
            outline:none;
            padding-top:var(--padding-sm);
            padding-bottom:var(--padding-sm);
            padding-left:var(--padding-md);
         
        }

        button{
            flex:0.2;
        }

        &__input-area{
          
            width:100%;
            display:flex;
            justify-content: space-between;

            .input-container{
                background:rgba(grey,0.33);
                border-radius:var(--border-radius);
                flex:0.8;
                padding:0.25rem;
                padding-left:0.5rem;



            }
        }
    }


}