.Nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    align-items:center;

    button{
        cursor:pointer;
        margin:1rem;
    }

    .h5{
        margin:1rem;
    }
}