@import './scss/type';
@import './scss/_bootstrap/reset';
@import './scss/_bootstrap/padding';
@import './scss/_bootstrap/positions';
@import './scss/_bootstrap/mixins';


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

:root{
  --brand-blue:#27AAE1;
  --brand-black:#07070D;
  --brand-yellow:yellow;
  --main-z-index:10;
  --app-white:#f1f1f1;
  --border-radius:8px;
}


html {font-size: 100%;} /*16px*/
body{
  font-size: 16px;
  overflow-x:hidden;
}

// loading state
.App-Loading-State{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background-color:var(--brand-blue);



  font-family: sofia-pro-soft, sans-serif;


  &__content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  &__img{
    margin:auto;
    padding-bottom: 1rem;
  }

}

// main app
.App {
  font-family: sofia-pro-soft, sans-serif;
  font-size:16px;
  min-height: 100vh;
  margin:0 auto;
  color:var(--app-white);
  position: relative;
  background-color:var(--brand-blue);
  background-repeat: no-repeat;
  background-size:cover;
  padding-bottom:var(--spacing-unit);

  &:after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content:'';
    background: rgba(#000,0.25);
    backdrop-filter:blur(5px);
    z-index: 0;
  }

}




// components 
@import './scss/_components/Header';
@import './scss/_components/TodaysForecast';
@import './scss/_components/TenDayForecast';
@import './scss/_components/Details';