.currentConditions{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding:10vh 0;
    text-shadow: 0px 2px 5px rgba(#000,0.33);
  
    &__overall{
      display: flex;
      max-width: 200px;
      justify-content: space-between;
      h4{
        margin-top:0;
        margin-right: 1rem;
  
        &:last-child{
          margin-right: 0;
        }
      }
    }
  
    &__temp{
      margin-bottom: 0;
    }
  
  
  }