.nextTenDaysForecast{
    position: relative;
    z-index:20;
    padding:0;
  
  
    &__list{
      max-width: 768px;
      margin:0 auto;
      padding:1rem;
    }
  
    &__item{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding:0.25rem 0;
      
  
      h5,h4{
        margin:0;
      }
    }
  
    &__date{
      flex:0 0 33.333%;
      text-align: left;
    }
  
    &__hiLo{
      flex:0 0 33.333%;
      display: flex;
      justify-content: flex-end;
  
    }
  
    &__low{
  padding-left: 1rem;
      opacity: 0.66;
    }
  
  
  }
  