
.todaysForecast{
    border: 1px solid rgba(#fff,0.9);
    border-left: none;
    border-right: none;
    position: relative;
    z-index: 20;
    width: 100%;
      margin: 0 auto;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      height: 150px;
      background:rgba(#fff,0.01);
      backdrop-filter: blur(1px);
  
  @media screen and (min-width:1200px) {
      width:80vw;
      transform: translateX(10vw);
  }
  
  
    &__item{
      display: flex;
      scroll-snap-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding:0.5rem 1rem;
      width: 90px;
      flex: 0 0 90px;
      // height: 150px;
  
      &__temp{
        font-weight: bold;
        font-size: 1.25rem;
      }
      span{
        margin:1rem 0;
      }
  
      i{
        font-size: 2rem;
      }
    }
  }
  